<html>
  <head>
    <%= require('html-loader!./partials/google.html') %>
    <title>Conway's Game Of Life JS (by @mistersourcerer)</title>
  </head>
  <body>
    <header>
      <h1>GolJS [Conway's Game of Life]</h1>
      <h2>butchered by <a href="https://twitter.com/mistersourcerer" target="_blank">@mistersourcerer</a></h2>
    </header>

    <main>
      <div>
        This is a JavaScript implementation of the Conway's Game Of Life.
        <br />
        The rendering is done in Canvas (and on the console) using vanilla JS.
        Controls are implemented in a variety of JS frameworks.
      </div>

      <br />

      <div>
        Console with Vanilla JS controls.
        <div class="toggle gol-console">
          <button class="btext show">show</button>
          <button class="btext hide">hide</button>
        </div>
      </div>

      <br />

      <div>
        Vanilla JS controls
        <div class="toggle gol-vanilla">
          <button class="btext show">show</button>
          <button class="btext hide">hide</button>
        </div>
      </div>

      <div class="implementations">
        <div id="gol-console" class="impl-type">
          To play around with the console implementation,
          please open the console.

          <div id="gol-console-controls" class="controls">
            <button id="start" class="btext" onClick="golControls.start()">start</button>
            <button id="pause" class="btext" onClick="golControls.pause()">pause</button>
            <button id="stop" class="btext" onClick="golControls.stop()">finish</button>
          </div>
        </div>
      </div>
    </main>

    <%= require('html-loader!./partials/forkme.html') %>
    <script src="main.js"></script>
  </body>
</html>
