<html>
  <head>
    <%= require('html-loader!./partials/google.html') %>
    <title>Conway's Game Of Life JS (by @mistersourcerer)</title>
  </head>
  <body>
    <div class="screen">
      <header class="box">
        <h1><span class="accent">Conway's</span> Game of Life</h1>
        <div class="box right">
          <h2>butchered by <a href="https://twitter.com/mistersourcerer" target="_blank">@mistersourcerer</a></h2>
        </div>
      </header>
    </div>

    <hr />

    <div class="screen">
      <main>
        <section class="about">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </section>

        <section class="controls box-row">
          <div>
            <i class="fas fa-bars fa-1x btn menu"></i>
            <i class="fas fa-stop fa-1x btn stop"></i>
            <i class="fas fa-pause fa-1x btn pause"></i>
            <i class="fas fa-play fa-1x btn start"></i>
          </div>

          <div class="extra">
            <div class="box-row">
              <span>Generation:</span>
              <span class="gen">0</span>
            </div>
          </div>
        </section>

        <section class="grid">
          <div class="menu">
            <ul>
              <li class="box-row" onclick="switchImpl('vanillaCanvas')">
                <div class="img-button vanilla"></div>
                <div class="text box">
                  <span class="impl">Vanilla JS</span>
                  <span class="rendering">Canvas element</span>
                </div>
              </li>
            </ul>
          </div>

          <canvas id="gol"></canvas>

        </section>
      </main>
    </div>

    <%= require('html-loader!./partials/forkme.html') %>
    <script src="main.js"></script>
    <script src="https://kit.fontawesome.com/bacda624bc.js" crossorigin="anonymous"></script>
  </body>
</html>
