@import "~normalize.css/normalize.css";

@font-face {
  font-family: 'Archivo Black';
  src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
}

body {
  background-color: #fff3cd;
}

.screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
}

.box-row {
  display: flex;
  flex-direction: row;
}

hr {
  border: none;
  border-top: 3px solid #ffc38b;
  color: #333;
  overflow: visible;
  text-align: center;
}

header {
  width: 800px;

  .box.right {
    padding-left: 20em;
    margin-top: -3em;
  }

  h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #4d3e3e;
    font-size: 56px;
    margin-top: 10px;

    .accent {
      color: #ffc38b;
    }
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    color: #4d3e3e;
    font-size: 24px;
    a {
      text-decoration: underline;
    }
    a:visited {
      color: #4d3e3e;
    }
  }
}

main {
  width: 800px;
  font-family: 'Montserrat', sans-serif;
  color: #4d3e3e;
  font-size: 16px;

  .about {
    margin-top: 10px;
  }

  .controls {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    justify-content: space-between;

    .btn:hover {
      cursor: pointer;
    }

    i {
      padding-right: 10px;
    }

    .fas {
      color: #ff926b;
    }

    .extra {
      .gen {
        padding-left: 10px;
        color: #ff926b;
        width: 50px;
      }
    }
  }
}

.grid {
  width: 800px;
  height: 500px;
  background-color: #fff3cd;

  ul {
    padding-inline-start: 8px;
    padding-bottom: 10px;

    li {
      padding-top: 12px;
    }
  }

  .menu {
    position: relative;
    visibility: hidden;
    top: -1.8em;

    ul {
      position: absolute;
      width: 50%;
      background-color: #4d3e3e;
      border-radius: 10px;
    }

    .img-button {
      width: 50px;
      height: 50px;
      background: url('../images/js.png');
      background-size: 50px;
      flex: 1;
      margin-right: 10px;
      margin-left: 10px;
    }

    .img-button:hover {
      cursor: pointer;
    }

    .text {
      flex: 6;
    }

    .text:hover {
      cursor: pointer;
    }

    .impl {
      font-family: 'Archivo Black', sans-serif;
      font-size: 24px;
      color: #ffc38b;
    }

    .rendering {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      color: #ffc38b;
    }
  }
}

.toggle {
  .show {
    display: 'block';
  }
  .hide {
    display: 'none';
  }
}
